nav {
    font-size: medium;
    background-color: teal;
}


.navBar {
  display: flex;
  justify-content: space-around;
}

.viewMyFavorites {
  display: flex;
  justify-content: center;
}

.logOut {
  display: flex;
  justify-content: flex-end;
  margin-right: 45px;
}


